In [3]:
import pandas as pd
import numpy as np

In [4]:
md = pd.read_csv('tmdb_5000_movies.csv')
md.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
from ast import literal_eval

In [7]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

## Using weighted rating formula calc the top rated recommends
#### will use v = no. of votes, m = min no. of votes needed, r = no. of ratings, c = mean votes

In [8]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.6529252550489275

In [9]:
m = vote_counts.quantile(0.95)
m

3040.8999999999996

In [10]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [75]:
qualifi = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualifi['vote_count'] = qualifi['vote_count'].astype('int')
qualifi['vote_average'] = qualifi['vote_average'].astype('int')
qualifi.shape

(241, 6)

In [12]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [13]:
qualifi['wr'] = qualifi.apply(weighted_rating, axis=1)

In [79]:
qualifi = qualifi.sort_values('wr', ascending=False).head(15)

KeyError: 'wr'

In [76]:
qualifi.head(15)

,title,year,vote_count,vote_average,popularity,genres
0,Avatar,2009,11800,7,150.437577,"[Action, Adventure, Fantasy, Science Fiction]"
1,Pirates of the Caribbean: At World's End,2007,4500,6,139.082615,"[Adventure, Fantasy, Action]"
2,Spectre,2015,4466,6,107.376788,"[Action, Adventure, Crime]"
3,The Dark Knight Rises,2012,9106,7,112.312950,"[Action, Crime, Drama, Thriller]"
5,Spider-Man 3,2007,3576,5,115.699814,"[Fantasy, Action, Adventure]"
6,Tangled,2010,3330,7,48.681969,"[Animation, Family]"
7,Avengers: Age of Ultron,2015,6767,7,134.279229,"[Action, Adventure, Science Fiction]"
8,Harry Potter and the Half-Blood Prince,2009,5293,7,98.885637,"[Adventure, Fantasy, Family]"
9,Batman v Superman: Dawn of Justice,2016,7004,5,155.790452,"[Action, Adventure, Fantasy]"
12,Pirates of the Caribbean: Dead Man's Chest,2006,5246,7,145.847379,"[Adventure, Fantasy, Action]"
14,Man of Steel,2013,6359,6,99.398009,"[Action, Adventure, Fantasy, Science Fiction]"
16,The Avengers,2012,11776,7,144.448633,"[Science Fiction, Action, Adventure]"
17,Pirates of the Caribbean: On Stranger Tides,2011,4948,6,135.413856,"[Adventure, Action, Fantasy]"
18,Men in Black 3,2012,4160,6,52.035179,"[Action, Comedy, Science Fiction]"
19,The Hobbit: The Battle of the Five Armies,2014,4760,7,120.965743,"[Action, Adventure, Fantasy]"

## Genre based filtering of top movies

In [16]:
s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_20404\2744528521.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

In [17]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(50)
    
    return qualified

In [26]:
build_chart('Romance').head(15)

,title,year,vote_count,vote_average,popularity,wr
809,Forrest Gump,1994,7927,8,138.133331,7.766263
25,Titanic,1997,7562,7,100.025899,6.864585
81,Maleficent,2014,4496,7,110.620647,6.787914
1997,Her,2013,4097,7,53.682367,6.771045
49,The Great Gatsby,2013,3769,7,61.196071,6.755026
2838,The Fault in Our Stars,2014,3759,7,74.358971,6.754503
2152,Eternal Sunshine of the Spotless Mind,2004,3652,7,56.481487,6.748756
2108,Edward Scissorhands,1990,3601,7,47.513630,6.745921
1695,Aladdin,1992,3416,7,92.982009,6.735079
2547,The Theory of Everything,2014,3311,7,61.182331,6.728503
1260,Amélie,2001,3310,7,73.720244,6.728439
100,The Curious Case of Benjamin Button,2008,3292,7,60.269279,6.727278
1366,The Devil Wears Prada,2006,3088,7,83.893257,6.713394
1559,The Notebook,2004,3067,7,55.109138,6.711885
493,A Beautiful Mind,2001,3009,7,59.248437,6.707630

## Content based recommender - using metadata

In [32]:
credits = pd.read_csv('tmdb_5000_credits.csv')

In [35]:
md = md.merge(credits, on='title')

In [38]:
md.shape

(4809, 24)

In [39]:
md['cast'] = md['cast'].apply(literal_eval)
md['crew'] = md['crew'].apply(literal_eval)
md['keywords'] = md['keywords'].apply(literal_eval)
md['cast_size'] = md['cast'].apply(lambda x: len(x))
md['crew_size'] = md['crew'].apply(lambda x: len(x))

In [40]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [41]:
md['director'] = md['crew'].apply(get_director)

In [42]:
md['cast'] = md['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
md['cast'] = md['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [44]:
md['keywords'] = md['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [45]:
md['cast'] = md['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [46]:
md['director'] = md['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
md['director'] = md['director'].apply(lambda x: [x,x])

In [47]:
s = md.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

C:\Users\KIIT\AppData\Local\Temp\ipykernel_20404\3568121985.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = md.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)

In [48]:
s = s.value_counts()  # keywords occur in frequencies n can be removed
s[:5]

woman director          324
independent film        320
duringcreditsstinger    308
based on novel          198
murder                  189
Name: keyword, dtype: int64

In [49]:
s = s[s > 1]

In [58]:
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [54]:
stemmer = SnowballStemmer('english')
stemmer.stem('romancess')

'romancess'

In [53]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [55]:
md['keywords'] = md['keywords'].apply(filter_keywords)
md['keywords'] = md['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
md['keywords'] = md['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [57]:
md['soup'] = md['keywords'] + md['cast'] + md['director'] + md['genres']
md['soup'] = md['soup'].apply(lambda x: ' '.join(x))

In [59]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(md['soup'])

In [60]:
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [88]:
cosine_sim = cosine_similarity(count_matrix)

In [62]:
md = md.reset_index()
titles = md['title']
indices = pd.Series(md.index, index=md['title'])

In [84]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = md.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    rec_mov = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    rec_mov['vote_count'] = rec_mov['vote_count'].astype('int')
    rec_mov['vote_average'] = rec_mov['vote_average'].astype('int')
    rec_mov['wr'] = rec_mov.apply(weighted_rating, axis=1)
    rec_mov = rec_mov.sort_values('wr', ascending=False).head(10)
    return rec_mov

In [73]:
get_recommendations('Batman Begins')

C:\Users\KIIT\AppData\Local\Temp\ipykernel_20404\2597432503.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['vote_count'] = qualified['vote_count'].astype('int')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_20404\2597432503.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['vote_average'] = qualified['vote_average'].astype('int')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_20404\2597432503.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['wr'] = qualified.apply(weighted_rating, axis=1)

,title,vote_count,vote_average,year,wr
65,The Dark Knight,12002,8,2008,7.525542
1199,The Prestige,4391,8,2006,7.039651
3,The Dark Knight Rises,9106,7,2012,6.662768
1726,Kick-Ass,4645,7,2010,6.467034
1746,Kick-Ass 2,2224,6,2013,5.799537
428,Batman Returns,1673,6,1992,5.776105
1670,Dead Man Down,638,5,2013,5.539694
238,Teenage Mutant Ninja Turtles,2636,5,2014,5.349747
9,Batman v Superman: Dawn of Justice,7004,5,2016,5.197661
210,Batman & Robin,1418,4,1997,5.127269

In [72]:
import pickle

In [78]:
pickle.dump(qualifi,open('qualifi.pkl','wb'))

In [80]:
pickle.dump(md,open('movies.pkl','wb'))

In [122]:
pickle.dump(s,open('s.pkl','wb'))

In [87]:
pickle.dump(cosine_sim,open('cosine_sim.pkl','wb'))

In [89]:
pickle.dump(cosine_sim,open('cosine_sim.pkl','wb'))

In [90]:
pickle.dump(cosine_sim,open('cosine_similarity.pkl','wb'))

In [91]:
pickle.dump(indices,open('indices.pkl','wb'))

In [92]:
pickle.dump(weighted_rating,open('weighted_rating','wb'))

In [93]:
pickle.dump(md,open('md.pkl','wb'))

In [94]:
pickle.dump(movies,open('movies.pkl','wb'))

NameError: name 'movies' is not defined

In [95]:
md['id'] = md['id'].astype('int')

In [100]:
links_small = pd.read_csv('tmdb_5000_movies.csv')
links_small = links_small[links_small['id'].notnull()]['id'].astype('int')

In [101]:
smd = md[md['id'].isin(links_small)]
smd.shape

(4809, 29)

In [102]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [103]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [104]:
tfidf_matrix.shape

(4809, 149317)

In [105]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [106]:
cosine_sim[0]

array([1.        , 0.00449756, 0.        , ..., 0.00272774, 0.        ,
       0.        ])

In [109]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

ValueError: cannot insert level_0, already exists

In [118]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

    data = []
    for i in sim_scores:
        obj = []
        temp = books[books['title'] == tf.index[i[0]]]
        obj.extend(list['title'].values)
        obj.extend(list['vote_count'].values)
        obj.extend(list['year'].values)
        
        data.append(obj)
    
    return data

In [121]:
tf.index[34]

AttributeError: 'TfidfVectorizer' object has no attribute 'index'

In [120]:
import pickel

ModuleNotFoundError: No module named 'pickel'

In [113]:
import pickle

In [114]:
pickle.dump(smd,open('movies.pkl','wb'))

In [115]:
pickle.dump(cosine_sim,open('similarity.pkl','wb'))